@model List<NathansForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row banner-ad">
    <img src="~/photos/BannerAd.png" alt="Banner ad" class="img-fluid">
</div>

<div class="row">

    <a type="button" class="btn btn-primary mb-3 border-light mt-3 mx-auto" asp-controller="Discussions" asp-action="Create">Create New Discussion</a>

@if (Model != null && Model.Any())
{
    <div class="container-fluid">
        
        <div class="row">
            
            @{var sortedModel = Model.OrderByDescending(x => x.CreateDate);}
            
            @foreach (var item in sortedModel)
            {

                string imageurl = $"/photos/{item.ImageFileName}";

                    <div class="col-md-12 mb-2 bg-white border border-info shadow-lg p-2">
                    <div class="row">
                        <div class="col-md-4 pe-0">
                            <a href="@Url.Action("GetDiscussion", "Home", new{id=item.DiscussionId})">
                                    <img alt="@item.Title" src="@imageurl" class="img-thumbnail" style="object-fit:cover; height:180px; width:100%;" />
                                </a>
                        </div>
                        <div class="col-md-8">
                            <h1>
                                @item.Title
                            </h1>
                            <p>
                                @item.Content
                            </p>
                            <p>
                                @item.CreateDate.ToString("MM/dd/yyyy - hh:mm tt")
                            </p>
                            <span class="badge bg-primary">
                                @item.Comments.Count Comments
                            </span>

                        </div>
                    </div>
                    
                </div>
            }
                
            
            
        </div>

        
    </div>

}
</div>
